
.tools {
    position: relative;
    margin-top: 10px;
    margin-left: 120px;
    padding: 10px;
    width: 370px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom: 15px;
}
.tools:hover {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;

}
.card_label {
    position: sticky;
    margin-top: 10px;
    margin-left:auto;
    padding: 10px;
    width: 700px;
    height: 990px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom: 15px;
}
.canvas {
overflow-x:auto;
}

.tools-brush {
    position: relative;
    align-content: center;
    margin-top: 10px;
    margin-left: 120px;
    padding: 5px;
    width: 370px;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}
.tools-brush:hover {

    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}
