.navbar {
    height: 55px;
    margin-left: 400px;
    width: 800px;
}

.navicon {
    margin-top: 15px;
    margin-bottom: 5px;

}
.navuser {
    margin-left: 1200px;
}
.logout_btn {
    margin-Left: 10px;
}
.Nav_login {
    margin-left: 5;
    padding: 10px;
    overflow-x: auto;
}
