.selectBTN1{
    margin-top: 5px;
    margin-left: 5px;
    width: 125px;
    height:30px ;
    border: 10px;
    border-radius: 15px;
    text-align: center;
    color:#ffff;
    background-color:#fa3754;
 
}

.selectBTN1:active{
    position: relative;
    top:1px;
    margin-left: 5px;
    width: 125px;
    height:30px ;
    border: 10px;
    border-radius: 15px;
    text-align: center;
    color:#ffff;
   
 
}
.selectBTN2{
    margin-top: 5px;
    margin-left: 5px;
    width: 125px;
    height:30px ;
    border: 10px;
    border-radius: 15px;
    text-align: center;
    color:#ffff;
    background-color:#37fab9;
   
}
.selectBTN2:active{
    position: relative;
    top:1px;
    margin-left: 5px;
    width: 125px;
    height:30px ;
    border: 10px;
    border-radius: 15px;
    text-align: center;
    color:#ffff;
   
 
}
.selectBTN3{
    margin-top: 5px;
    margin-left: 5px;
    width: 250px;
    height:30px ;
    border: 10px;
    border-radius: 15px;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color:#fdc730;

}
.selectBTN3:active{
    position: relative;
    top:1px;
    margin-left: 5px;
    width: 250px;
    height:30px ;
    border: 10px;
    border-radius: 15px;
    text-align: center;

   
 
}
.selectBTN4{
    margin-top: 5px;
    margin-left: 5px;
    width: 125px;
    height:30px ;
    border: 10px;
    border-radius: 15px;
    text-align: center;
    color:#ffff;
    background-color:#37d3fa;
  
}
.selectBTN4:active{
    position: relative;
    top:1px;
    margin-left: 5px;
    width: 125px;
    height:30px ;
    border: 10px;
    border-radius: 15px;
    text-align: center;
    color:#ffff;
   
 
}